html{margin: 0px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0px;
    position: relative;
    background-color: rgb(214, 214, 214);
    }
    nav ul a{
        text-decoration: none;
        font-family: 'Cookie', cursive;
        font-size: 2rem;
        color:black;
    }
    .education{
    text-align: center;
    }
    .title{
        font-family: 'Cookie', cursive;
        font-size: 2rem;
        margin: 16px;
        
    }
    .data{
        font-family: 'Kaushan Script', cursive;
        opacity: 0.8;
    }
    .footer{
        height: 50px;
        background-color: black;
    }
    .clg{
        font-family: 'Kaushan Script', cursive;

        font-size: 1.5rem;

    }
    .clg a{
        text-decoration: none;
        color: black;
    }
    .education ul{
        padding-left: 0px;
    }
    @media only screen and (max-width: 364px) {
        nav ul a{
            font-size: 1.7rem;
            
            }
        }